# SPDX-FileCopyrightText: 2026 Fonden Mærsk Mc-Kinney Møller Center for Zero Carbon Shipping
# SPDX-License-Identifier: Apache-2.0

sphinx
myst-parser
pydata-sphinx-theme
sphinx-design
sphinx-copybutton
